
<!DOCTYPE HTML>
<!--
    Striped by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Striped by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/boardstyles/main.css" />
    <style>
    [class *="col-"] {
        padding-left: 5px;
        padding-right: 5px;
    }
    </style>
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<script>
	$(document).on('turbolinks:load', function() {
		
	});
</script>
   <script src="/assets/boardjs/skel.min.js"></script>
    <script src="/assets/boardjs/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/boardjs/main.js"></script>


<body>
    <!-- Content -->
    <div id="content">
        <div class="inner">
            <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="mt-3 card " style="height:180px">
                        <div class="card-block">
                            <h4 class="card-title">제목</h4>
                            <h6 class="card-subtitle mb-2 text-muted">---------</h6>
                            <p class="card-text texthide">한줄 내용표시</p>
                            <a href="/leposts/new/1" class="card-link">글쓰기</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>

            <% @lpost.each do |p| %>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="mt-3 card " style="height:180px">
                        <div class="card-block">
                            <h4 class="card-title"><%= p.title %></h4>
                            <h6 class="card-subtitle mb-2 text-muted">-------------</h6>
                            <p class="card-text texthide">
                                <%= p.content %>
                            </p>
                            <a href="/leposts/<%=p.lepost_id%>/show/<%= p.id %>" class="card-link">전체보기</a>
                            <a href="/leposts/edit/<%=p.id%>" class="card-link">수정</a>
                            <a href="/leposts/<%= p.lepost_id %>/destroy/<%= p.id%>" class="card-link">삭제</a>
                        </div>
                    </div>
                </div>
                <% end %>
                <%= will_paginate @lpost, :previous_label => '이전', :next_label => '다음', :class => "flickr_pagination" ,:class => "hi"%>
                    <!-- Pagination -->
        
        </div>
    </div>
    <!-- Sidebar -->
    <div id="sidebar">
        <!-- Logo -->
        <h1 id="logo"><a href="#">강의평가</a></h1>
        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="current"><a href="/leposts/leposts_index">HOME</a></li>
                <li><a href="/leposts/lederand">리더와자기관리</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </nav>
        <!-- Search -->
        <section class="box search">
            <form method="post" action="#">
                <input type="text" class="text" name="search" placeholder="Search" />
            </form>
        </section>
        <!-- Text -->
        <section class="box text-style1">
            <div class="inner">
                <p>
                    <strong></strong><a href="http://twitter.com/ajlkn">AJ</a><a href="http://html5up.net/"></a>
                </p>
            </div>
        </section>
        <!-- Recent Posts -->
        <section class="box recent-posts">
            <header>
                <h2>Recent Posts</h2>
            </header>
            <ul>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Feugiat nisl aliquam</a></li>
                <li><a href="#">Sed dolore magna</a></li>
                <li><a href="#">Malesuada commodo</a></li>
                <li><a href="#">Ipsum metus nullam</a></li>
            </ul>
        </section>
        <!-- Recent Comments -->
        <section class="box recent-comments">
            <header>
                <h2>Recent Comments</h2>
            </header>
            <ul>
                <li>case on <a href="#">Lorem ipsum dolor</a></li>
                <li>molly on <a href="#">Sed dolore magna</a></li>
                <li>case on <a href="#">Sed dolore magna</a></li>
            </ul>
        </section>
        <!-- Copyright -->
        <ul id="copyright">
            <li>&copy; Untitled.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
    <!-- Scripts -->
    
    
 
</body>

</html>
